# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/

# IDE
.idea/
*.iml
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Frontend
node_modules/
.npm
.DS_Store
*.local

# Project specific
backend/backend/

frontend/package-lock.json
package-lock.json
backend/app.log.1
backend/app.log.3
vote_v4_cas
minio/data/*
Redis-7.2.4-Windows-x64-msys2-with-Service/*
